<div class="panel panel-primary">
    <div class="panel-heading">
        Sign Up!
    </div>

    <div class="panel-body">
        <form class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label class="col-md-2 control-label" 
                        for="firstNameId">First Name</label>

                    <div class="col-md-8">
                        <input class="form-control" 
                            id="firstNameId" 
                            type="text" 
                            placeholder="First Name (required)" 
                            required 
                            maxlength="50" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" 
                        for="lastNameId">Last Name</label>

                    <div class="col-md-8">
                        <input class="form-control" 
                            id="lastNameId" 
                            type="text" 
                            placeholder="Last Name (required)" 
                            required 
                            maxlength="50" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" 
                        for="emailId">Email</label>

                    <div class="col-md-8">
                        <input class="form-control" 
                            id="emailId" 
                            type="email" 
                            placeholder="Email (required)" 
                            required />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-1 col-md-8 checkbox" >
                        <label>
                            <input type="checkbox"
                                id="addressTypeId"
                                value="">
                            Send me your catalog
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Address Type</label>
                    <div class="col-md-8">
                            <label class="radio-inline">
                                <input type="radio" id="addressType1Id" value="home" checked>Home
                            </label>
                            <label class="radio-inline">
                                <input type="radio" id="addressType1Id" value="work">Work
                            </label>
                            <label class="radio-inline">
                                <input type="radio" id="addressType1Id" value="other">Other
                            </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" 
                        for="street1Id">Street Address 1</label>
                    <div class="col-md-8">
                        <input type="text" 
                            class="form-control" 
                            id="street1Id" 
                            placeholder="Street address">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" 
                        for="street2Id">Street Address 2</label>
                    <div class="col-md-8">
                        <input type="text" 
                            class="form-control" 
                            id="street2Id"
                            placeholder="Street address (second line)">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" 
                        for="cityId">City, State, Zip Code</label>
                    <div class="col-md-3">
                        <input type="text" 
                            class="form-control" 
                            id="cityId" 
                            placeholder="City">
                    </div>
                    <div class="col-md-3">
                        <select class="form-control"
                                id="stateId">
                            <option value="" disabled selected hidden>Select a State...</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                    <input type="number"
                        class="form-control" 
                        id="zipId" 
                        placeholder="Zip Code">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary"
                                    type="submit">
                                Save
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>